@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
}

.pic {
    height: 40px;
}

.mobile-nav-items-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 100px;
    padding: 24px;
    box-sizing: border-box;
}

@media screen and (min-width:768px) {
    .nav-image {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-item {
        font-size: 20px;
        font-weight: 500;
        padding: 24px;
    }
}

@media screen and (max-width:767px) {
    .mobile-nav-items-container {
        flex-direction: column;
    }

    .nav {
        margin-top: 24px;
        display: flex;
    }

    .nav-item {
        display: none;
    }

    .nav-image {
        max-width: 36px;
        margin: 12px;
    }
}